@keyframes typing {
  0%   {
      transform:translateY(0px);
      opacity: 100%;
    }
  15%   {
      transform: translateY(-6px);
      opacity: 60%;
    }
  30%  {
      transform:translateY(2px);
        opacity: 80%;
    }
  45%  {
        transform:translateY(0px);
      opacity: 100%;
    }
}

html, body {
    height: 100%;
    background-color: #212121;
}

.sa-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    max-height: 100%;

    &.sa-loading .sa-typing {
        display:block;
    }
}

.sa-toolbar {
    flex: 0 0 auto;
    padding: 16px 0;
    border-bottom: 1px solid #404040;
    margin-bottom: 16px;
}

.sa-alert-wrapper {
    position: relative;

    .sa-alert {
        top: 0;
        right: 0;
        left: 0;
        position: absolute;
        background-color: #F38170;
        color: #F8F8F8;
        border-radius: 4px;
        font-size: 14px;
        padding: 8px 16px;
        line-height: 34px;
        margin-bottom: 12px;

        &.sa-alert-success {
            background-color: #95C3A9;
        }

        i.fas:nth-child(1) {
            margin-right: 4px;
        }

        .sa-alert-message {
            display: inline-block;
        }

        .sa-alert-action {
            float: right;
            line-height: 34px;
            color: #F8F8F8;
            text-decoration: none;
            transition: transform 0.2s;
            cursor: pointer;
            
            &:hover {
                transform: rotate(90deg);
            }
            
        }
    }
}

.sa-conversation {
    flex: 1 1 auto;
    padding: 16px 0;
    display: flex;
    overflow: auto;
    flex-direction: column-reverse;

    .sa-conversation-buffer {
        flex: 1 1 auto;
    }

    .sa-typing {
        display:none;

        .sa-ellipsis {
            background-color: #1666ba4d;
            padding: 12px;
            display: inline-block;
            height: 12px;
            border-radius: 4px;

            span {
                background-color:#F8F8F8;
                display: inline-block;
                height: 8px;
                width: 8px;
                border-radius: 50%;
                margin: 2px 1px;
                animation-name: typing;
                animation-duration: 1.5s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;

                &:nth-child(2) {
                    animation-delay: 0.1s;
                }

                &:nth-child(3) {
                    animation-delay: 0.2s;
                }
            }
        }
    }

    .sa-chat {
        list-style-type: none;
        margin: 0;
        padding: 0;
        flex: 0 0 auto;

        .sa-message-wrapper {
            padding: 5px 0px;
            
            &.sa-message-received {
                text-align: left;
                
                .sa-message-bubble {
                    background-color: #1666BA;
                }
            }

            &.sa-message-sent {
                text-align: right;

                .sa-message-bubble {
                    background-color: #358CE7;
                }
            }

            .sa-message {
                display: inline-block;
                width: 80%;

                .sa-message-bubble {
                    border-radius: 4px;
                    color: #F5F5F5;
                    padding: 8px 16px;
                    display: inline-block;
                    font-size: 14px;
                    max-width: 75%;
                    box-sizing: border-box;

                    .sa-message-sender {
                        font-weight: bold;
                        font-size: 12px;
                    }

                    .sa-message-timestamp {
                        font-style: italic;
                        font-size: 10px;
                        color: #DEDEDE;
                        user-select: none;
                    }
                }

                .sa-additional-context {
                    max-width: 75%;

                    .sa-context-grid {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        margin: 12px 0;
                        column-gap: 12px;
                        row-gap: 12px;

                        .sa-context-option {
                            display: block;

                            input {
                                display: none;
                            }

                            .sa-context-option-inner {
                                display: block;
                                padding: 12px;
                                border: 1px solid #363636;
                                color: #BCBCBC;
                                width: 100%;
                                border-radius: 4px;
                                cursor: pointer;
                                height: 100%;
                                transition: background-color 0.1s, border-color 0.1s;
                                box-sizing: border-box;
                                line-height: 16px;
                                user-select: none;

                                .counter {
                                    float: right;
                                    color: #AFAFAF;
                                    transition: color 0.1s;

                                    &:before {
                                        content: '(';
                                    }

                                    &:after {
                                        content: ')';
                                    }
                                }


                                &:hover {
                                    background-color: #5e768e1c;
                                }

                                &:before {
                                    content: '';
                                    width: 16px;
                                    height: 16px;
                                    vertical-align: top;
                                    border: 2px solid #BCBCBC;
                                    border-radius: 4px;
                                    box-sizing: border-box;
                                    display: inline-block;
                                    margin-right: 8px;
                                    transition: border-color 0.1s, background-color 0.1s;
                                }
                            }

                            input:checked + .sa-context-option-inner {
                                background-color: #5e768e;
                                border-color: #556b82;
                                color: #F8F8F8;

                                &:before {
                                    border-color: #F8F8F8;
                                    background-color: #F8F8F8;
                                }

                                .counter {
                                    color: #E7E7E7;
                                }
                            }

                            input:disabled + .sa-context-option-inner {
                                cursor: not-allowed;
                            }
                        }
                    }
                }

                .sa-results {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;


                    .sa-result {
                        max-width: 75%;
                        margin: 12px 0;
                        color: #E9E9E9;
                        transition: max-width 0.2s;

                        &.expanded {
                            max-width: 100%;

                            .sa-result-preview .sa-result-navigate i.fas:before {
                                content: "\f078"
                            }
                        }
                        
                        .sa-result-preview {
                            padding: 12px;
                            cursor: pointer;
                            text-decoration: none;
                            position: relative;
                            color: inherit;
                            border-radius: 4px;
                            display: flex;
                            transition: background-color 0.2s;
                            background-color: #343434;

                            &:hover {
                                background-color: #383838;
                            }

                            .sa-result-thumbnail {
                                flex: 0 0 auto;
                                width: 30px;
                                height: 30px;
                                vertical-align: top;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .sa-result-content {
                                padding-left: 8px;
                                padding-right: 32px;
                                flex: 1 1 auto;

                                .sa-result-title {
                                    font-size: 14px;
                                }

                                .sa-result-subtitle {
                                    font-size: 10px;
                                    margin-top: 4px;
                                    color: #DEDEDE;
                                }
                            }
                            
                            .sa-result-navigate {
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                right: 12px;
                                text-align: right;
                                background-color: transparent;
                                border: none;
                                padding: 0;

                                i.fas {
                                    margin-right: 0;
                                }
                            }

                        }

                        .sa-result-details {
                            padding: 12px;
                            border: 2px solid #343434;
                            border-bottom-left-radius: 4px;
                            border-bottom-right-radius: 4px;
                            overflow-wrap: break-word;
                            font-size: 14px;
                            display: none;

                            .sa-result-answer {
                                p {
                                    margin-top: 0;
                                    line-height: 22.5px;
                                }

                                pre {
                                    background-color: #50575f;
                                    padding: 12px;
                                    border-radius: 4px;

                                    code {
                                        padding: 0;
                                        border-radius: 0px;
                                    }
                                }

                                code {
                                    background-color: #50575f;
                                    color: #F8F8F8;
                                    padding: 2px 4px;
                                    font-size: 12px;
                                    border-radius: 2px;
                                }

                                ol, ul {
                                    padding-left: 30px;
                                }

                                blockquote {
                                    margin-left: 0;
                                    margin-right: 0;
                                    padding: 8px;
                                    border-radius: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.sa-footer {
    flex: 0 0 auto;

    .sa-context {
        list-style-type: none;
        margin: 0;
        padding: 8px 0;
        user-select: none;

        .sa-context-item {
            display: inline-block;
            margin: 0 8px 0 0;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #464646;
            color: #DEDEDE;
            position: relative;
            cursor: pointer;

            &:before {
                content: "\f00d";
                font-family: "Font Awesome 5 Free";
                position: absolute;
                top: -1px;
                bottom: -1px;
                right: -1px;
                left: -1px;
                opacity: 0;
                color: #F8F8F8;
                background-color: #D09292;
                text-align: center;
                line-height: 34px;
                border-radius: 4px;
                font-weight: bold;
                font-size: 10px;
                transform: scale(0.2);
                transform-origin: 50% 50%;
                transition: opacity 0.2s, transform 0.2s;
                cursor: pointer;
            }

            &:hover::before {
                opacity: 1;
                transform: none;
            }
        }
    }

    #sa-form-send-message {
        display: flex;
        padding: 8px 0;

        #sa-field-message {
            flex: 1 1 auto;
            border-radius: 0;
            padding: 8px 16px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            outline: none;
            color: #F9F9F9;
            border: 1px solid #404040;
            border-right: none;
            background-color: #343434;

            &:disabled {
                cursor: not-allowed;
            }
        }


        button {
            flex: 0 0 auto;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

button, a.sa-button {
    color: #FFFFFF;
    display:inline-block;
    background-color: #404040;
    border: 1px solid #404040;
    padding: 12px 18px;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.2s;
    cursor: pointer;
    text-decoration: none;
    user-select: none;

    i.fas {
        margin-right: 6px;
    }

    &.sa-button-orange {
        background-color: #f48024;

        &:hover:not(:disabled) {
            background-color: #d87727;
        }
    }

    &.sa-button-small {
        padding: 8px 12px;
        font-size:12px;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        background-color: #464646;
    }
}
