@charset "UTF-8";
@keyframes typing {
  0% {
    transform: translateY(0px);
    opacity: 100%; }
  15% {
    transform: translateY(-6px);
    opacity: 60%; }
  30% {
    transform: translateY(2px);
    opacity: 80%; }
  45% {
    transform: translateY(0px);
    opacity: 100%; } }

html, body {
  height: 100%;
  background-color: var(--vscode-editor-background); }

.sa-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  max-height: 100%; }
  .sa-wrapper.sa-loading .sa-typing {
    display: block; }

.sa-toolbar {
  flex: 0 0 auto;
  padding: 16px 0;
  border-bottom: 1px solid var(--vscode-button-secondaryBackground);
  margin-bottom: 16px; }

.sa-alert-wrapper {
  position: relative;
  z-index: 100; }
  .sa-alert-wrapper .sa-alert {
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    background-color: #F38170;
    color: #F8F8F8;
    box-shadow: 0px ​2px 3px var(--vscode-widget-shadow);
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 16px;
    line-height: 34px;
    margin-bottom: 12px; }
    .sa-alert-wrapper .sa-alert.sa-alert-success {
      background-color: #95C3A9; }
    .sa-alert-wrapper .sa-alert i.fas:nth-child(1) {
      margin-right: 4px; }
    .sa-alert-wrapper .sa-alert .sa-alert-message {
      display: inline-block; }
    .sa-alert-wrapper .sa-alert .sa-alert-action {
      float: right;
      line-height: 34px;
      color: #F8F8F8;
      text-decoration: none;
      transition: transform 0.2s;
      cursor: pointer; }
      .sa-alert-wrapper .sa-alert .sa-alert-action:hover {
        transform: rotate(90deg); }

.sa-conversation {
  flex: 1 1 auto;
  padding: 16px 0;
  display: flex;
  overflow: auto;
  flex-direction: column-reverse; }
  .sa-conversation .sa-conversation-buffer {
    flex: 1 1 auto; }
  .sa-conversation .sa-typing {
    display: none; }
    .sa-conversation .sa-typing .sa-ellipsis {
      background-color: #1666ba4d;
      padding: 12px;
      display: inline-block;
      height: 12px;
      border-radius: 4px; }
      .sa-conversation .sa-typing .sa-ellipsis span {
        background-color: #F8F8F8;
        display: inline-block;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        margin: 2px 1px;
        animation-name: typing;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite; }
        .sa-conversation .sa-typing .sa-ellipsis span:nth-child(2) {
          animation-delay: 0.1s; }
        .sa-conversation .sa-typing .sa-ellipsis span:nth-child(3) {
          animation-delay: 0.2s; }
  .sa-conversation .sa-chat {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex: 0 0 auto; }
    .sa-conversation .sa-chat .sa-message-wrapper {
      padding: 5px 0px; }
      .sa-conversation .sa-chat .sa-message-wrapper.sa-message-received {
        text-align: left; }
        .sa-conversation .sa-chat .sa-message-wrapper.sa-message-received .sa-message-bubble {
          background-color: var(--vscode-button-hoverBackground); }
      .sa-conversation .sa-chat .sa-message-wrapper.sa-message-sent {
        text-align: right; }
        .sa-conversation .sa-chat .sa-message-wrapper.sa-message-sent .sa-message-bubble {
          background-color: var(--vscode-button-background); }
      .sa-conversation .sa-chat .sa-message-wrapper .sa-message {
        display: inline-block;
        width: 80%; }
        @media screen and (max-width: 600px) {
          .sa-conversation .sa-chat .sa-message-wrapper .sa-message {
            width: 100%; } }
        .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-message-bubble {
          border-radius: 4px;
          color: var(--vscode-button-foreground);
          padding: 8px 16px;
          display: inline-block;
          font-size: 14px;
          max-width: 75%;
          box-sizing: border-box; }
          @media screen and (max-width: 500px) {
            .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-message-bubble {
              max-width: 90%; } }
          .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-message-bubble .sa-message-sender {
            font-weight: bold;
            font-size: 12px; }
          .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-message-bubble .sa-message-timestamp {
            font-style: italic;
            font-size: 10px;
            color: #DEDEDE;
            user-select: none; }
        .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-additional-context {
          max-width: 75%; }
          @media screen and (max-width: 500px) {
            .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-additional-context {
              max-width: 90%; } }
          .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-additional-context .sa-context-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 12px 0;
            column-gap: 12px;
            row-gap: 12px; }
            .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-additional-context .sa-context-grid .sa-context-option {
              display: block; }
              .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-additional-context .sa-context-grid .sa-context-option input {
                display: none; }
              .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-additional-context .sa-context-grid .sa-context-option .sa-context-option-inner {
                display: block;
                padding: 12px;
                border: 1px solid var(--vscode-dropdown-border);
                color: var(--vscode-foreground);
                width: 100%;
                border-radius: 4px;
                cursor: pointer;
                height: 100%;
                transition: background-color 0.1s, border-color 0.1s;
                box-sizing: border-box;
                line-height: 16px;
                user-select: none; }
                .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-additional-context .sa-context-grid .sa-context-option .sa-context-option-inner .counter {
                  float: right;
                  color: #AFAFAF;
                  transition: color 0.1s; }
                  .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-additional-context .sa-context-grid .sa-context-option .sa-context-option-inner .counter:before {
                    content: '('; }
                  .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-additional-context .sa-context-grid .sa-context-option .sa-context-option-inner .counter:after {
                    content: ')'; }
                .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-additional-context .sa-context-grid .sa-context-option .sa-context-option-inner:hover {
                  background-color: #5e768e1c; }
                .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-additional-context .sa-context-grid .sa-context-option .sa-context-option-inner:before {
                  content: '';
                  width: 16px;
                  height: 16px;
                  vertical-align: top;
                  border: 2px solid var(--vscode-foreground);
                  border-radius: 4px;
                  box-sizing: border-box;
                  display: inline-block;
                  margin-right: 8px;
                  transition: border-color 0.1s, background-color 0.1s; }
              .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-additional-context .sa-context-grid .sa-context-option input:checked + .sa-context-option-inner {
                background-color: var(--vscode-dropdown-border);
                color: var(--vscode-foreground); }
                .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-additional-context .sa-context-grid .sa-context-option input:checked + .sa-context-option-inner:before {
                  border-color: var(--vscode-foreground);
                  background-color: var(--vscode-foreground); }
                .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-additional-context .sa-context-grid .sa-context-option input:checked + .sa-context-option-inner .counter {
                  color: #E7E7E7; }
              .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-additional-context .sa-context-grid .sa-context-option input:disabled + .sa-context-option-inner {
                cursor: not-allowed; }
        .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results {
          list-style-type: none;
          margin: 0;
          padding: 0; }
          .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result {
            max-width: 75%;
            margin: 12px 0;
            color: #E9E9E9;
            transition: max-width 0.2s; }
            .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result.expanded {
              max-width: 100%; }
              .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result.expanded .sa-result-preview {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0; }
                .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result.expanded .sa-result-preview .sa-result-navigate i.fas:before {
                  content: "\f078"; }
            .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-preview {
              padding: 12px;
              cursor: pointer;
              text-decoration: none;
              position: relative;
              color: inherit;
              border-radius: 4px;
              display: flex;
              transition: background-color 0.2s;
              background-color: var(--vscode-button-secondaryBackground);
              color: var(--vscode-button-secondaryForeground); }
              .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-preview:hover {
                background-color: var(--vscode-button-secondaryHoverBackground); }
              .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-preview .sa-result-thumbnail {
                flex: 0 0 auto;
                width: 30px;
                height: 30px;
                vertical-align: top; }
                .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-preview .sa-result-thumbnail img {
                  width: 100%;
                  height: 100%; }
              .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-preview .sa-result-content {
                padding-left: 8px;
                padding-right: 32px;
                flex: 1 1 auto; }
                .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-preview .sa-result-content .sa-result-title {
                  font-size: 14px; }
                .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-preview .sa-result-content .sa-result-subtitle {
                  font-size: 10px;
                  margin-top: 4px;
                  color: #DEDEDE; }
              .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-preview .sa-result-navigate {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 12px;
                text-align: right;
                background-color: transparent;
                border: none;
                padding: 0; }
                .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-preview .sa-result-navigate i.fas {
                  margin-right: 0; }
            .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-details {
              padding: 12px;
              border: 2px solid var(--vscode-button-secondaryBackground);
              border-bottom-left-radius: 4px;
              border-bottom-right-radius: 4px;
              overflow-wrap: break-word;
              font-size: 14px;
              display: none;
              color: var(--vscode-foreground); }
              .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-details .sa-result-answer p {
                margin-top: 0;
                line-height: 22.5px; }
              .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-details .sa-result-answer a {
                color: var(--vscode-textLink-foreground); }
                .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-details .sa-result-answer a:active {
                  color: var(--vscode-textLink-activeForeground); }
              .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-details .sa-result-answer pre {
                background-color: var(--vscode-textCodeBlock-background);
                padding: 12px;
                border-radius: 4px; }
                .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-details .sa-result-answer pre code {
                  background-color: transparent;
                  padding: 0;
                  border-radius: 0px; }
              .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-details .sa-result-answer code {
                background-color: var(--vscode-textCodeBlock-background);
                color: var(--vscode-textPreformat-foreground);
                padding: 2px 4px;
                font-size: 12px;
                border-radius: 2px;
                white-space: break-spaces; }
              .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-details .sa-result-answer ol, .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-details .sa-result-answer ul {
                padding-left: 30px; }
              .sa-conversation .sa-chat .sa-message-wrapper .sa-message .sa-results .sa-result .sa-result-details .sa-result-answer blockquote {
                margin-left: 0;
                margin-right: 0;
                padding: 8px;
                border-radius: 4px;
                background-color: var(--vscode-textBlockQuote-background);
                color: var(--vscode-foreground); }

.sa-footer {
  flex: 0 0 auto; }
  .sa-footer .sa-context {
    list-style-type: none;
    margin: 0;
    padding: 8px 0;
    user-select: none; }
    .sa-footer .sa-context .sa-context-item {
      display: inline-block;
      margin: 0 8px 0 0;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid var(--vscode-foreground);
      color: var(--vscode-foreground);
      position: relative;
      cursor: pointer; }
      .sa-footer .sa-context .sa-context-item:before {
        content: "\f00d";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        top: -1px;
        bottom: -1px;
        right: -1px;
        left: -1px;
        opacity: 0;
        color: #F8F8F8;
        background-color: #D09292;
        text-align: center;
        line-height: 34px;
        border-radius: 4px;
        font-weight: bold;
        font-size: 10px;
        transform: scale(0.2);
        transform-origin: 50% 50%;
        transition: opacity 0.2s, transform 0.2s;
        cursor: pointer; }
      .sa-footer .sa-context .sa-context-item:hover::before {
        opacity: 1;
        transform: none; }
  .sa-footer #sa-form-send-message {
    display: flex;
    padding: 8px 0; }
    .sa-footer #sa-form-send-message #sa-field-message {
      flex: 1 1 auto;
      border-radius: 0;
      padding: 8px 16px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      outline: none;
      color: var(--vscode-input-foreground);
      border: 1px solid var(--vscode-button-background);
      border-right: none;
      background-color: var(--vscode-input-background); }
      .sa-footer #sa-form-send-message #sa-field-message:disabled {
        cursor: not-allowed; }
    .sa-footer #sa-form-send-message button {
      flex: 0 0 auto;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }

button, a.sa-button {
  color: var(--vscode-button-foreground);
  background-color: var(--vscode-button-background);
  display: inline-block;
  border: 0;
  padding: 12px 18px;
  border-radius: 4px;
  outline: none;
  transition: background-color 0.2s;
  cursor: pointer;
  text-decoration: none;
  user-select: none; }
  button i.fas, a.sa-button i.fas {
    margin-right: 6px; }
  button.sa-button-orange, a.sa-button.sa-button-orange {
    background-color: #f48024; }
    button.sa-button-orange:hover:not(:disabled), a.sa-button.sa-button-orange:hover:not(:disabled) {
      background-color: #d87727; }
  button.sa-button-small, a.sa-button.sa-button-small {
    padding: 8px 12px;
    font-size: 12px; }
  button:disabled, a.sa-button:disabled {
    cursor: not-allowed; }
  button:hover:not(:disabled), a.sa-button:hover:not(:disabled) {
    background-color: var(--vscode-button-hoverBackground); }
